*, *:before, *:after {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
html, body {font-size: 16px;}
body {background: #708090;color: #444;padding: 0;margin: 0;font-family: "Open Sans","Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;font-weight: normal;font-style: normal;line-height: 1.5em;position: relative;-webkit-font-smoothing: antialiased;letter-spacing: 1px;text-rendering: optimizelegibility;}
a:focus {outline: none;}
img, object, embed {max-width: 100%;height: auto;}
object, embed {height: 100%;}
img {-ms-interpolation-mode: bicubic;}
#map_canvas img, #map_canvas embed, #map_canvas object, .map_canvas img, .map_canvas embed, .map_canvas object {max-width: none !important;}
.left {float: left !important;}
.right {float: right !important;}
.text-left {text-align: left !important;}
.text-right {text-align: right !important;}
.text-center {text-align: center !important;}
.text-justify {text-align: justify !important;}
.hide {display: none;}
img {display: inline-block;}
textarea {height: auto;min-height: 50px;}
select {width: 100%;}
.row {width: 100%;margin-left: auto;margin-right: auto;margin-top: 0;margin-bottom: 0;max-width: 90em;background: #fff;display: block;}
.row:before, .row:after {content: " ";display: table;}
.row:after {clear: both;}
.row .column, .row .columns {position: relative;padding-left: .9375em;padding-right: .9375em;width: 100%;}
.row.collapse .column, .row.collapse .columns {position: relative;padding-left: 0;padding-right: 0;}
.medium-row .medium-cell.main-col {padding-left: 0;padding-right: 0;}
.row .row {width: auto;margin-left: -.9375em;margin-right: -.9375em;margin-top: 0;margin-bottom: 0;max-width: none;}
.row .row .row {background: none;}
.row .row:before, .row .row:after {content: " ";display: table;}
.row .row:after {clear: both;}
.row .row.collapse {width: auto;margin: 0;max-width: none;}
.row .row.collapse:before, .row .row.collapse:after {content: " ";display: table;}
.row .row.collapse:after {clear: both;}
@media only screen {.row .column, .row .columns {position: relative;padding-left: .9375em;padding-right: .9375em;float: left;}
	.row .small-1 {position: relative;width: 8.33333%;}
	.row .small-2 {position: relative;width: 16.66667%;}
	.row .small-3 {position: relative;width: 25%;}
	.row .small-4 {position: relative;width: 33.33333%;}
	.row .small-5 {position: relative;width: 41.66667%;}
	.row .small-6 {position: relative;width: 50%;}
	.row .small-7 {position: relative;width: 58.33333%;}
	.row .small-8 {position: relative;width: 66.66667%;}
	.row .small-9 {position: relative;width: 75%;}
	.row .small-10 {position: relative;width: 83.33333%;}
	.row .small-11 {position: relative;width: 91.66667%;}
	.row .small-12 {position: relative;width: 100%;}
	[class*="column"] + [class*="column"]:last-child {float: right;}
	[class*="column"] + [class*="column"].end {float: left;}
	.column.small-centered, .columns.small-centered {position: relative;margin-left: auto;margin-right: auto;float: none;}}
@media only screen and (min-width: 48em) {.row .medium-1 {position: relative;width: 8.33333%;}
	.row .medium-2 {position: relative;width: 16.66667%;}
	.row .medium-3 {position: relative;width: 25%;}
	.row .medium-4 {position: relative;width: 33.33333%;}
	.row .medium-5 {position: relative;width: 41.66667%;}
	.row .medium-6 {position: relative;width: 50%;}
	.row .medium-7 {position: relative;width: 58.33333%;}
	.row .medium-8 {position: relative;width: 66.66667%;}
	.row .medium-9 {position: relative;width: 75%;}
	.row .medium-10 {position: relative;width: 83.33333%;}
	.row .medium-11 {position: relative;width: 91.66667%;}
	.row .medium-12 {position: relative;width: 100%;}
	.column.medium-centered, .columns.medium-centered {position: relative;margin-left: auto;margin-right: auto;float: none;}
	.medium-row {display: table;table-layout: fixed;width: 100%;}
	.medium-cell {display: table-cell;float: none;vertical-align: top;}
	[class*="column"] + [class*="medium-cell"]:last-child {float: none;}
	.medium-row .main-col.medium-cell {width: 100%;padding: 0;}}
@media only screen and (min-width: 64em) {.row .large-1 {position: relative;width: 8.33333%;}
	.row .large-2 {position: relative;width: 16.66667%;}
	.row .large-3 {position: relative;width: 25%;}
	.row .large-4 {position: relative;width: 33.33333%;}
	.row .large-5 {position: relative;width: 41.66667%;}
	.row .large-6 {position: relative;width: 50%;}
	.row .large-7 {position: relative;width: 58.33333%;}
	.row .large-8 {position: relative;width: 66.66667%;}
	.row .large-9 {position: relative;width: 75%;}
	.row .large-10 {position: relative;width: 83.33333%;}
	.row .large-11 {position: relative;width: 91.66667%;}
	.row .large-12 {position: relative;width: 100%;}
	.column.large-centered, .columns.large-centered {position: relative;margin-left: auto;margin-right: auto;float: none;}}
.show-for-small, .show-for-medium-down, .show-for-large-down {display: inherit;}
.show-for-medium, .show-for-medium-up, .show-for-large, .show-for-large-up, .show-for-xlarge {display: none !important;}
.hide-for-medium, .hide-for-medium-up, .hide-for-large, .hide-for-large-up, .hide-for-xlarge {display: inherit !important;}
.hide-for-small, .hide-for-medium-down, .hide-for-large-down {display: none !important;}
@media only screen and (min-width: 48em) {.show-for-small {display: none;}}
@media only screen and (min-width: 80em) {.show-for-small {display: none;}
	.show-for-large, .show-for-large-up {display: inherit !important;}
	.show-for-medium, .show-for-medium-down {display: none !important;}
	.hide-for-medium, .hide-for-medium-down {display: inherit !important;}
	.hide-for-large, .hide-for-large-up {display: none !important;}}
@media only screen and (min-width: 90em) {.show-for-small {display: none;}
	.show-for-xlarge {display: inherit !important;}
	.show-for-large, .show-for-large-down {display: none !important;}
	.hide-for-large, .hide-for-large-down {display: inherit !important;}
	.hide-for-xlarge {display: none !important;}}
.show-for-landscape, .hide-for-portrait {display: inherit !important;}
.hide-for-landscape, .show-for-portrait {display: none !important;}
@media only screen and (orientation: landscape) {.show-for-landscape, .hide-for-portrait {display: inherit !important;}
	.hide-for-landscape, .show-for-portrait {display: none !important;}}
@media only screen and (orientation: portrait) {.show-for-portrait, .hide-for-landscape {display: inherit !important;}
	.hide-for-portrait, .show-for-landscape {display: none !important;}}
.show-for-touch {display: none !important;}
.hide-for-touch {display: inherit !important;}
.touch .show-for-touch {display: inherit !important;}
.touch .hide-for-touch {display: none !important;}
@media only screen {[class*="block-grid-"] {display: block;overflow: hidden;padding: 0;margin: 0 -.9375em;}
	[class*="block-grid-"] > li {display: block;height: auto;float: left;padding: 0;}
	.small-block-grid-1 > li {width: 100%;padding: 0 10px 10px;}
	.small-block-grid-1 > li:nth-of-type(1n+1) {clear: both;}
	.small-block-grid-2 > li {width: 50%;padding: 0 10px 10px;}
	.small-block-grid-2 > li:nth-of-type(2n+1) {clear: both;}
	.small-block-grid-3 > li {width: 33.33333%;padding: 0 10px 10px;}
	.small-block-grid-3 > li:nth-of-type(3n+1) {clear: both;}
	.small-block-grid-4 > li {width: 25%;padding: 0 10px 10px;}
	.small-block-grid-4 > li:nth-of-type(4n+1) {clear: both;}
	.small-block-grid-5 > li {width: 20%;padding: 0 10px 10px;}
	.small-block-grid-5 > li:nth-of-type(5n+1) {clear: both;}
	.small-block-grid-6 > li {width: 16.66667%;padding: 0 10px 10px;}
	.small-block-grid-6 > li:nth-of-type(6n+1) {clear: both;}
	.small-block-grid-7 > li {width: 14.28571%;padding: 0 10px 10px;}
	.small-block-grid-7 > li:nth-of-type(7n+1) {clear: both;}
	.small-block-grid-8 > li {width: 12.5%;padding: 0 10px 10px;}
	.small-block-grid-8 > li:nth-of-type(8n+1) {clear: both;}
	.small-block-grid-9 > li {width: 11.11111%;padding: 0 10px 10px;}
	.small-block-grid-9 > li:nth-of-type(9n+1) {clear: both;}
	.small-block-grid-10 > li {width: 10%;padding: 0 10px 10px;}
	.small-block-grid-10 > li:nth-of-type(10n+1) {clear: both;}
	.small-block-grid-11 > li {width: 9.09091%;padding: 0 10px 10px;}
	.small-block-grid-11 > li:nth-of-type(11n+1) {clear: both;}
	.small-block-grid-12 > li {width: 8.33333%;padding: 0 10px 10px;}
	.small-block-grid-12 > li:nth-of-type(12n+1) {clear: both;}}
@media only screen and (min-width: 48em) {.medium-block-grid-1 > li {width: 100%;padding: 0 10px 10px;}
	.medium-block-grid-1 > li:nth-of-type(1n+1) {clear: both;}
	.medium-block-grid-2 > li {width: 50%;padding: 0 10px 10px;}
	.medium-block-grid-2 > li:nth-of-type(2n+1) {clear: both;}
	.medium-block-grid-3 > li {width: 33.33333%;padding: 0 10px 10px;}
	.medium-block-grid-3 > li:nth-of-type(3n+1) {clear: both;}
	.medium-block-grid-4 > li {width: 25%;padding: 0 10px 10px;}
	.medium-block-grid-4 > li:nth-of-type(4n+1) {clear: both;}
	.medium-block-grid-5 > li {width: 20%;padding: 0 10px 10px;}
	.medium-block-grid-5 > li:nth-of-type(5n+1) {clear: both;}
	.medium-block-grid-6 > li {width: 16.66667%;padding: 0 10px 10px;}
	.medium-block-grid-6 > li:nth-of-type(6n+1) {clear: both;}
	.medium-block-grid-7 > li {width: 14.28571%;padding: 0 10px 10px;}
	.medium-block-grid-7 > li:nth-of-type(7n+1) {clear: both;}
	.medium-block-grid-8 > li {width: 12.5%;padding: 0 10px 10px;}
	.medium-block-grid-8 > li:nth-of-type(8n+1) {clear: both;}
	.medium-block-grid-9 > li {width: 11.11111%;padding: 0 10px 10px;}
	.medium-block-grid-9 > li:nth-of-type(9n+1) {clear: both;}
	.medium-block-grid-10 > li {width: 10%;padding: 0 10px 10px;}
	.medium-block-grid-10 > li:nth-of-type(10n+1) {clear: both;}
	.medium-block-grid-11 > li {width: 9.09091%;padding: 0 10px 10px;}
	.medium-block-grid-11 > li:nth-of-type(11n+1) {clear: both;}
	.medium-block-grid-12 > li {width: 8.33333%;padding: 0 10px 10px;}
	.medium-block-grid-12 > li:nth-of-type(12n+1) {clear: both;}
	[class*="small-block-grid-"] > li {clear: none !important;}}
@media only screen and (min-width: 80em) {.large-block-grid-1 > li {width: 100%;padding: 0 10px 10px;}
	.large-block-grid-1 > li:nth-of-type(1n+1) {clear: both;}
	.large-block-grid-2 > li {width: 50%;padding: 0 10px 10px;}
	.large-block-grid-2 > li:nth-of-type(2n+1) {clear: both;}
	.large-block-grid-3 > li {width: 33.33333%;padding: 0 10px 10px;}
	.large-block-grid-3 > li:nth-of-type(3n+1) {clear: both;}
	.large-block-grid-4 > li {width: 25%;padding: 0 10px 10px;}
	.large-block-grid-4 > li:nth-of-type(4n+1) {clear: both;}
	.large-block-grid-5 > li {width: 20%;padding: 0 10px 10px;}
	.large-block-grid-5 > li:nth-of-type(5n+1) {clear: both;}
	.large-block-grid-6 > li {width: 16.66667%;padding: 0 10px 10px;}
	.large-block-grid-6 > li:nth-of-type(6n+1) {clear: both;}
	.large-block-grid-7 > li {width: 14.28571%;padding: 0 10px 10px;}
	.large-block-grid-7 > li:nth-of-type(7n+1) {clear: both;}
	.large-block-grid-8 > li {width: 12.5%;padding: 0 10px 10px;}
	.large-block-grid-8 > li:nth-of-type(8n+1) {clear: both;}
	.large-block-grid-9 > li {width: 11.11111%;padding: 0 10px 10px;}
	.large-block-grid-9 > li:nth-of-type(9n+1) {clear: both;}
	.large-block-grid-10 > li {width: 10%;padding: 0 10px 10px;}
	.large-block-grid-10 > li:nth-of-type(10n+1) {clear: both;}
	.large-block-grid-11 > li {width: 9.09091%;padding: 0 10px 10px;}
	.large-block-grid-11 > li:nth-of-type(11n+1) {clear: both;}
	.large-block-grid-12 > li {width: 8.33333%;padding: 0 10px 10px;}
	.large-block-grid-12 > li:nth-of-type(12n+1) {clear: both;}
	[class*="medium-block-grid-"] > li {clear: none !important;}}
p.lead {font-size: 1.21875em;line-height: 1.6;}
.subheader {line-height: 1.4;color: #6f6f6f;font-weight: 300;margin-top: .2em;margin-bottom: .5em;}
div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, th, td {margin: 0;padding: 0;direction: ltr;}
a {color: #383d94;text-decoration: none;line-height: inherit;}
a:hover, a:focus {color: #008fd0;}
a img {border: none;}
p {font-family: inherit;font-weight: normal;margin-bottom: 1.25em;-moz-hyphens: auto;hypens: auto;}
p aside {font-size: .875em;line-height: 1.35;font-style: italic;}
h1, h2, h3, h4, h5, h6 {font-family: Amaranth;font-weight: bold;font-style: normal;color: #444;text-rendering: optimizeLegibility;margin-top: .3em;margin-bottom: .2em;line-height: 1.2125em;}
h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {font-size: 60%;color: #6f6f6f;line-height: 0;}
h1 {font-size: 2.125em;}
h2 {font-size: 1.6875em;}
h3 {font-size: 1.375em;}
h4 {font-size: 1.125em;}
h5 {font-size: 1.125em;margin-bottom: 0;}
h6 {font-size: 1em;}
hr {border: solid #ddd;border-width: 1px 0 0;clear: both;margin: 1.25em 0 1.1875em;height: 0;}
em, i {font-style: italic;line-height: inherit;}
strong, b {font-weight: bold;line-height: inherit;}
small {font-size: 60%;line-height: inherit;}
code {font-family: Consolas,"Liberation Mono",Courier,monospace;font-weight: bold;color: #7f0a0c;}
ul, ol, dl {font-size: 1em;line-height: 1.6;margin-bottom: 1.25em;list-style-position: outside;font-family: inherit;list-style-type: square;}
ul li ul, ul li ol {margin-left: 1.25em;margin-bottom: 0;font-size: 1em;}
ul.square li ul, ul.circle li ul, ul.disc li ul {list-style: inherit;}
ul.square {list-style-type: square;}
ul.circle {list-style-type: circle;}
ul.disc {list-style-type: disc;}
ul.no-bullet {list-style: none;}
ol li ul, ol li ol {margin-left: 1.25em;margin-bottom: 0;}
dl dt {margin-bottom: .3em;font-weight: bold;}
dl dd {margin-bottom: .75em;}
abbr, acronym {text-transform: uppercase;font-size: 90%;color: #222;border-bottom: 1px dotted #ddd;cursor: help;}
abbr {text-transform: none;}
blockquote {margin: 0 0 1.25em;padding: .5625em 1.25em 0 1.1875em;border-left: 1px solid #ddd;}
blockquote cite {display: block;font-size: .8125em;color: #555;}
blockquote cite:before {content: "— ";}
blockquote cite a, blockquote cite a:visited {color: #555;}
blockquote, blockquote p {line-height: 1.6;color: #6f6f6f;}
@media only screen and (min-width: 48em) {h1, h2, h3, h4, h5, h6 {line-height: 1.4;}
	h1 {font-size: 2.75em;}
	h2 {font-size: 2.3125em;}
	h3 {font-size: 1.6875em;}
	h4 {font-size: 1.4375em;}}
.button {border-style: none;border-width: 0;cursor: pointer;font-family: inherit;font-weight: bold;line-height: 1;margin: 0 0 1.25em;position: relative;text-decoration: none;text-align: center;display: inline-block;padding-top: .75em;padding-right: 1.5em;padding-bottom: .8125em;padding-left: 1.5em;font-size: 1em;background-color: #383d94;color: white;}
.button:hover, .button:focus {background-color: #008fd0;}
.button:hover, .button:focus {color: white;}
.button.secondary {background-color: #e9e9e9;border-color: #d0d0d0;color: #333;}
.button.secondary:hover, .button.secondary:focus {background-color: #d0d0d0;}
.button.secondary:hover, .button.secondary:focus {color: #333;}
.button.success {background-color: #5da423;border-color: #457a1a;color: white;}
.button.success:hover, .button.success:focus {background-color: #457a1a;}
.button.success:hover, .button.success:focus {color: white;}
.button.alert {background-color: #c60f13;border-color: #970b0e;color: white;}
.button.alert:hover, .button.alert:focus {background-color: #970b0e;}
.button.alert:hover, .button.alert:focus {color: white;}
.button.large {padding-top: .9375em;padding-right: 2em;padding-bottom: 1.0625em;padding-left: 2em;font-size: 1.25em;}
.button.small {padding-top: .5625em;padding-right: 1.125em;padding-bottom: .625em;padding-left: 1.125em;font-size: .8125em;}
.button.tiny {padding-top: .4375em;padding-right: .875em;padding-bottom: .5em;padding-left: .875em;font-size: .6875em;}
.button.expand {padding-top: .75em;padding-top: .75em;padding-right: 1.5em;padding-right: 0px;padding-bottom: .8125em;padding-bottom: .8125em;padding-left: 1.5em;padding-left: 0px;font-size: 1em;width: 100%;}
.button.left-align {text-align: left;text-indent: .75em;}
.button.right-align {text-align: right;padding-right: .75em;}
.button.disabled, .button[disabled] {background-color: #2ba6cb;border-color: #2284a1;color: white;cursor: default;opacity: .6;-webkit-box-shadow: none;box-shadow: none;}
.button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {background-color: #2284a1;}
.button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {color: white;}
.button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {background-color: #2ba6cb;}
.button.disabled.secondary, .button[disabled].secondary {background-color: #e9e9e9;border-color: #d0d0d0;color: #333;cursor: default;opacity: .6;-webkit-box-shadow: none;box-shadow: none;}
.button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus {background-color: #d0d0d0;}
.button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus {color: #333;}
.button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus {background-color: #e9e9e9;}
.button.disabled.success, .button[disabled].success {background-color: #5da423;border-color: #457a1a;color: white;cursor: default;opacity: .6;-webkit-box-shadow: none;box-shadow: none;}
.button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus {background-color: #457a1a;}
.button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus {color: white;}
.button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus {background-color: #5da423;}
.button.disabled.alert, .button[disabled].alert {background-color: #c60f13;border-color: #970b0e;color: white;cursor: default;opacity: .6;-webkit-box-shadow: none;box-shadow: none;}
.button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {background-color: #970b0e;}
.button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {color: white;}
.button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {background-color: #c60f13;}
input.button, button.button {padding-top: .8125em;padding-bottom: .75em;}
input.button.tiny, button.button.tiny {padding-top: .5em;padding-bottom: .4375em;}
input.button.small, button.button.small {padding-top: .625em;padding-bottom: .5625em;}
input.button.large, button.button.large {padding-top: 1.03125em;padding-bottom: 1.03125em;}
@media only screen {.button {-webkit-transition: background-color 300ms ease-out;-moz-transition: background-color 300ms ease-out;transition: background-color 300ms ease-out;}
	.button.radius {-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
	.button.round {-moz-border-radius: 100%;-webkit-border-radius: 1000px;border-radius: 1000px;}}
@media only screen and (min-width: 48em) {.button {display: inline-block;}}
form {margin: 0 0 .9375em;}
form .row .row {margin: -.5em;}
form .row .row .column, form .row .row .columns {padding: 0 .5em;}
form .row .row.collapse {margin: 0;}
form .row .row.collapse .column, form .row .row.collapse .columns {padding: 0;}
form .row input.column, form .row input.columns {padding-left: .5em;}
form .row .row {margin: 0;}
label {font-size: .875em;color: #4d4d4d;cursor: pointer;display: block;font-weight: 500;margin-bottom: .1875em;}
label.right {float: none;text-align: right;}
label.inline {margin: 0 0 .9375em 0;padding: .625em 0;}
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {background-color: white;font-family: inherit;border: 1px solid #ccc;-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);box-shadow: inset 0 1px 2px rgba(0,0,0,.1);color: rgba(0,0,0,.75);display: block;font-size: .875em;margin: 0 0 .9375em;padding: .5em;height: 2.3125em;width: 100%;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;-webkit-transition: all .15s linear;-moz-transition: all .15s linear;transition: all .15s linear;}
input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, textarea:focus {background: #fafafa;border-color: #999;outline: none;}
input[type="text"][disabled], input[type="password"][disabled], input[type="date"][disabled], input[type="datetime"][disabled], input[type="datetime-local"][disabled], input[type="month"][disabled], input[type="week"][disabled], input[type="email"][disabled], input[type="number"][disabled], input[type="search"][disabled], input[type="tel"][disabled], input[type="time"][disabled], input[type="url"][disabled], textarea[disabled] {background-color: #ddd;}
fieldset {border: solid 1px #ddd;padding: 1.25em;margin: 1.125em 0;}
fieldset legend {font-weight: bold;background: white;padding: 0 .1875em;margin: 0;margin-left: -.1875em;}
.error input, input.error, .error textarea, textarea.error {border-color: #c60f13;background-color: rgba(198,15,19,.1);}
.error input:focus, input.error:focus, .error textarea:focus, textarea.error:focus {background: #fafafa;border-color: #999;}
.error label, label.error {color: #c60f13;}
.error small, small.error {display: block;padding: .375em .25em;margin-top: -1.3125em;margin-bottom: .9375em;font-size: .75em;font-weight: bold;background: #c60f13;color: white;}
.button-group {list-style: none;margin: 0;}
.button-group:before, .button-group:after {content: " ";display: table;}
.button-group:after {clear: both;}
.button-group li {margin: 0 0 0 -1px;float: left;}
.button-group li:first-child {margin-left: 0;}
.button-group.radius li:first-child > a, .button-group.radius li:first-child > button {-moz-border-radius: 0;-webkit-border-radius: 0;border-radius: 0;-moz-border-radius-bottomleft: 3px;-moz-border-radius-topleft: 3px;-webkit-border-bottom-left-radius: 3px;-webkit-border-top-left-radius: 3px;border-bottom-left-radius: 3px;border-top-left-radius: 3px;}
.button-group.radius li:last-child > a, .button-group.radius li:last-child > button {-moz-border-radius: 0;-webkit-border-radius: 0;border-radius: 0;-moz-border-radius-topright: 3px;-moz-border-radius-bottomright: 3px;-webkit-border-top-right-radius: 3px;-webkit-border-bottom-right-radius: 3px;border-top-right-radius: 3px;border-bottom-right-radius: 3px;}
.button-group.round li:first-child > a, .button-group.round li:first-child > button {-moz-border-radius: 0;-webkit-border-radius: 0;border-radius: 0;-moz-border-radius-bottomleft: 1000px;-moz-border-radius-topleft: 1000px;-webkit-border-bottom-left-radius: 1000px;-webkit-border-top-left-radius: 1000px;border-bottom-left-radius: 1000px;border-top-left-radius: 1000px;}
.button-group.round li:last-child > a, .button-group.round li:last-child > button {-moz-border-radius: 0;-webkit-border-radius: 0;border-radius: 0;-moz-border-radius-topright: 1000px;-moz-border-radius-bottomright: 1000px;-webkit-border-top-right-radius: 1000px;-webkit-border-bottom-right-radius: 1000px;border-top-right-radius: 1000px;border-bottom-right-radius: 1000px;}
.button-group.even-2 li {width: 50%;}
.button-group.even-2 li .button {width: 100%;}
.button-group.even-3 li {width: 33.33333%;}
.button-group.even-3 li .button {width: 100%;}
.button-group.even-4 li {width: 25%;}
.button-group.even-4 li .button {width: 100%;}
.button-group.even-5 li {width: 20%;}
.button-group.even-5 li .button {width: 100%;}
.button-group.even-6 li {width: 16.66667%;}
.button-group.even-6 li .button {width: 100%;}
.button-group.even-7 li {width: 14.28571%;}
.button-group.even-7 li .button {width: 100%;}
.button-group.even-8 li {width: 12.5%;}
.button-group.even-8 li .button {width: 100%;}
.button-bar {}
.button-bar:before, .button-bar:after {content: " ";display: table;}
.button-bar:after {clear: both;}
.button-bar .button-group {float: left;margin-right: .625em;}
.button-bar .button-group div {overflow: hidden;}
.flex-video {position: relative;padding-top: 1.5625em;padding-bottom: 67.5%;height: 0;margin-bottom: .9375em;overflow: hidden;}
.flex-video.widescreen {padding-bottom: 57.25%;}
.flex-video.vimeo {padding-top: 0;}
.flex-video iframe, .flex-video object, .flex-video embed, .flex-video video {position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
.section-container {width: 100%;display: block;margin-bottom: 1.25em;border: 1px solid #ccc;border-top: none;}
.section-container section, .section-container .section {border-top: 1px solid #ccc;position: relative;}
.section-container section .title, .section-container .section .title {top: 0;cursor: pointer;width: 100%;margin: 0;background-color: #efefef;}
.section-container section .title a, .section-container .section .title a {padding: .9375em;display: inline-block;color: #333;font-size: .875em;white-space: nowrap;width: 100%;}
.section-container section .title:hover, .section-container .section .title:hover {background-color: #e2e2e2;}
.section-container section .content, .section-container .section .content {display: none;padding: .9375em;background-color: white;}
.section-container section .content > *:last-child, .section-container .section .content > *:last-child {margin-bottom: 0;}
.section-container section .content > *:first-child, .section-container .section .content > *:first-child {padding-top: 0;}
.section-container section .content > *:last-child, .section-container .section .content > *:last-child {padding-bottom: 0;}
.section-container section.active .content, .section-container .section.active .content {display: block;}
.section-container section.active .title, .section-container .section.active .title {background: #d5d5d5;}
@media only screen and (min-width: 48em) {.section-container.accordion .section {padding-top: 0 !important;}
	.section-container.vertical-nav {border: 1px solid #ccc;border-top: none;}
	.section-container.vertical-nav section, .section-container.vertical-nav .section {padding-top: 0 !important;}
	.section-container.vertical-nav section .title a, .section-container.vertical-nav .section .title a {display: block;width: 100%;}
	.section-container.vertical-nav section .content, .section-container.vertical-nav .section .content {display: none;}
	.section-container.vertical-nav section.active .content, .section-container.vertical-nav .section.active .content {display: block;position: absolute;left: 100%;top: -1px;z-index: 999;min-width: 12.5em;border: 1px solid #ccc;}
	.section-container.horizontal-nav {position: relative;background: #efefef;border: 1px solid #ccc;}
	.section-container.horizontal-nav section, .section-container.horizontal-nav .section {padding-top: 0;border: 0;position: static;}
	.section-container.horizontal-nav section .title, .section-container.horizontal-nav .section .title {width: auto;border: 1px solid #ccc;border-left: 0;top: -1px;position: absolute;z-index: 1;}
	.section-container.horizontal-nav section .title a, .section-container.horizontal-nav .section .title a {width: 100%;}
	.section-container.horizontal-nav section .content, .section-container.horizontal-nav .section .content {display: none;}
	.section-container.horizontal-nav section.active .content, .section-container.horizontal-nav .section.active .content {display: block;position: absolute;z-index: 999;left: 0;top: -2px;min-width: 12.5em;border: 1px solid #ccc;}
	.section-container.tabs {border: 0;position: relative;}
	.section-container.tabs section, .section-container.tabs .section {padding-top: 0;border: 0;position: static;}
	.section-container.tabs section .title, .section-container.tabs .section .title {width: auto;border: 1px solid #ccc;border-right: 0;border-bottom: 0;position: absolute;z-index: 1;}
	.section-container.tabs section .title a, .section-container.tabs .section .title a {width: 100%;}
	.section-container.tabs section:last-child .title, .section-container.tabs .section:last-child .title {border-right: 1px solid #ccc;}
	.section-container.tabs section .content, .section-container.tabs .section .content {border: 1px solid #ccc;position: absolute;z-index: 10;top: -1px;}
	.section-container.tabs section.active .title, .section-container.tabs .section.active .title {background-color: white;z-index: 11;border-bottom: 0;}
	.section-container.tabs section.active .content, .section-container.tabs .section.active .content {position: relative;}}
.contain-to-grid {width: 100%;background: #383d94;}
.fixed {width: 100%;left: 0;position: fixed;top: 0;z-index: 99;}
.top-bar {overflow: hidden;height: 65px;line-height: 65px;position: relative;background: #383d94;-moz-box-shadow: 0 0 5px #333;box-shadow: 0 0 5px #333;}
.top-bar ul {margin-bottom: 0;list-style: none;}
.top-bar .row {max-width: none;}
.top-bar form, .top-bar input {margin-bottom: 0;}
.top-bar input {height: 2.45em;}
.top-bar .button {padding-top: .5em;padding-bottom: .5em;margin-bottom: 0;}
.top-bar #search-exit {color: #fff;display: block;float: left;margin: .9em 0 1.5em;cursor: pointer;width: 10%;}
.top-bar .title-area {position: relative;}
.top-bar .name {height: 65px;margin: 0;font-size: 16px;overflow: hidden;width: 150px;}
.top-bar .name a {height: 65px;overflow: hidden;width: 150px;}
.top-bar .name h1 {line-height: 65px;font-size: 1.0625em;margin: 0;color: #fff;display: inline;}
.top-bar .name h1 a {font-weight: bold;color: white;width: 50%;display: block;padding: 0 15px;}
.top-bar .toggle-topbar {position: absolute;right: 0;top: 0;}
.top-bar .toggle-topbar a {color: white;text-transform: uppercase;font-size: .8125em;font-weight: bold;position: relative;display: block;padding: 0 15px;height: 65px;line-height: 65px;}
.top-bar .toggle-topbar.menu-icon {right: 15px;top: 50%;margin-top: -16px;padding-left: 40px;}
.top-bar .toggle-topbar.menu-icon a {text-indent: -48px;width: 34px;height: 34px;line-height: 33px;padding: 0;color: white;}
.top-bar .toggle-topbar.menu-icon a span {position: absolute;right: 0;display: block;width: 16px;height: 0;-webkit-box-shadow: 0 10px 0 1px white,0 16px 0 1px white,0 22px 0 1px white;box-shadow: 0 10px 0 1px white,0 16px 0 1px white,0 22px 0 1px white;}
.top-bar.expanded {height: auto;background: transparent;}
.top-bar.expanded .title-area {background: #383d94;}
.top-bar.expanded .toggle-topbar a {color: #888;}
.top-bar.expanded .toggle-topbar a span {-webkit-box-shadow: 0 10px 0 1px #888,0 16px 0 1px #888,0 22px 0 1px #888;box-shadow: 0 10px 0 1px #888,0 16px 0 1px #888,0 22px 0 1px #888;}
.top-bar-section {left: 0;position: relative;width: auto;-webkit-transition: left 300ms ease-out;-moz-transition: left 300ms ease-out;transition: left 300ms ease-out;font-family: Amaranth,sans-serif;}
.top-bar-section ul {width: 100%;height: auto;display: block;background: none repeat scroll 0 0 #3f44a5;font-size: 16px;margin: 0;}
.top-bar-section .divider {border-bottom: solid 1px #4d4d4d;border-top: solid 1px #1a1a1a;clear: both;height: 1px;width: 100%;}
.top-bar-section ul li > a {display: block;width: 100%;color: white;padding: 12px 0 12px 0;padding-left: 15px;font-size: 1.5em;font-weight: bold;background: none repeat scroll 0 0 #3f44a5;}
.top-bar-section ul li > a:hover {background: #373c91;}
.top-bar-section ul li > a.button {background: #2ba6cb;font-size: .8125em;}
.top-bar-section ul li > a.button:hover {background: #2284a1;}
.top-bar-section ul li > a.button.secondary {background: #e9e9e9;}
.top-bar-section ul li > a.button.secondary:hover {background: #d0d0d0;}
.top-bar-section ul li > a.button.success {background: #5da423;}
.top-bar-section ul li > a.button.success:hover {background: #457a1a;}
.top-bar-section ul li > a.button.alert {background: #c60f13;}
.top-bar-section ul li > a.button.alert:hover {background: #970b0e;}
.top-bar-section ul li.active a {background: #373c91;}
.top-bar-section .has-form {padding: 15px;}
.top-bar-section .has-dropdown {position: relative;}
.top-bar-section .has-dropdown > a:after {content: "";display: block;width: 0;height: 0;border: solid 5px;border-color: transparent transparent transparent rgba(255,255,255,.5);margin-right: 15px;margin-top: -4.5px;position: absolute;top: 50%;right: 0;}
.top-bar-section .has-dropdown.moved {position: static;}
.top-bar-section .has-dropdown.moved > .dropdown {visibility: visible;}
.top-bar-section .dropdown {position: absolute;left: 100%;top: 0;visibility: hidden;z-index: 99;}
.top-bar-section .dropdown li {width: 100%;}
.top-bar-section .dropdown li a {font-weight: normal;padding: 8px 15px;}
.top-bar-section .dropdown li.title h5 {margin-bottom: 0;}
.top-bar-section .dropdown li.title h5 a {color: white;line-height: 22.5px;display: block;}
.top-bar-section .dropdown label {padding: 8px 15px 2px;margin-bottom: 0;text-transform: uppercase;color: #555;font-weight: bold;font-size: .625em;}
.top-bar-js-breakpoint {width: 48em !important;visibility: hidden;}
.js-generated {display: block;}
@media only screen and (min-width: 48em) {.top-bar {background: #383d94;overflow: visible;}
	.top-bar:before, .top-bar:after {content: " ";display: table;}
	.top-bar:after {clear: both;}
	.top-bar .toggle-topbar {display: none;}
	.top-bar .title-area {float: left;}
	.top-bar .name h1 a {width: auto;}
	.top-bar input, .top-bar .button {line-height: 2em;font-size: .875em;height: 2em;padding: 0 10px;position: relative;top: 8px;}
	.top-bar.expanded {background: #383d94;}
	.contain-to-grid .top-bar {max-width: 90em;margin: 0 auto;}
	.top-bar-section {-webkit-transition: none 0 0;-moz-transition: none 0 0;transition: none 0 0;left: 0 !important;}
	.top-bar-section ul {width: auto;height: auto !important;display: inline;}
	.top-bar-section ul li {float: left;}
	.top-bar-section ul li .js-generated {display: none;}
	.top-bar-section li a:not(.button) {padding: 0 15px;line-height: 65px;background: #383d94;}
	.top-bar-section li a:not(.button):hover {background: #3f44a5;}
	.top-bar-section .has-dropdown > a {padding-right: 35px !important;}
	.top-bar-section .has-dropdown > a:after {content: "";display: block;width: 0;height: 0;border: solid 5px;border-color: rgba(255,255,255,.5) transparent transparent transparent;margin-top: -2.5px;}
	.top-bar-section .has-dropdown.moved {position: relative;}
	.top-bar-section .has-dropdown.moved > .dropdown {visibility: hidden;}
	.top-bar-section .has-dropdown:hover > .dropdown, .top-bar-section .has-dropdown:active > .dropdown {visibility: visible;}
	.top-bar-section .has-dropdown .dropdown li.has-dropdown > a:after {border: none;content: "»";margin-top: -7px;right: 5px;}
	.top-bar-section .dropdown {left: 0;top: auto;background: transparent;}
	.top-bar-section .dropdown li a {line-height: 1;white-space: nowrap;padding: 14px 20px;background: #383d94;}
	.top-bar-section .dropdown li label {white-space: nowrap;background: #383d94;}
	.top-bar-section .dropdown li .dropdown {left: 100%;top: 0;}
	.top-bar-section > ul > .divider {border-bottom: none;border-top: none;border-right: solid 1px #373c91;border-left: solid 1px black;clear: none;height: 65px;width: 0px;}
	.top-bar-section .has-form {background: #383d94;padding: 0 15px;height: 65px;}
	.top-bar-section ul.right li .dropdown {left: auto;right: 0;}
	.top-bar-section ul.right li .dropdown li .dropdown {right: 100%;}}
.orbit-container {overflow: hidden;width: 100%;position: relative;background: whitesmoke;min-height: 320px;}
.orbit-container .orbit-slides-container {list-style: none;margin: 0;padding: 0;position: relative;}
.orbit-container .orbit-slides-container img {display: block;margin: 0 auto;}
.orbit-container .orbit-slides-container > * {position: relative;float: left;height: 100%;}
.orbit-container .orbit-slides-container > * .orbit-caption {position: absolute;bottom: 0;background-color: black;background-color: rgba(0,0,0,.6);color: #fff;width: 100%;padding: 10px 14px;font-size: .875em;}
.orbit-container .orbit-slides-container > * .orbit-caption * {color: white;}
.orbit-container .orbit-slide-number {position: absolute;top: 10px;left: 10px;font-size: 12px;}
.orbit-container .orbit-slide-number span {font-weight: 700;}
.orbit-container .orbit-timer {position: absolute;top: 10px;right: 10px;height: 6px;width: 100px;}
.orbit-container .orbit-timer .orbit-progress {height: 100%;background-color: black;background-color: rgba(0,0,0,.6);display: block;width: 0%;}
.orbit-container .orbit-timer > span {display: none;position: absolute;top: 10px;right: 0px;width: 11px;height: 14px;border: solid 4px black;border-top: none;border-bottom: none;}
.orbit-container .orbit-timer.paused > span {right: -6px;top: 9px;width: 11px;height: 14px;border: solid 8px;border-color: transparent transparent transparent black;}
.orbit-container:hover .orbit-timer > span {display: block;}
.orbit-container .orbit-prev, .orbit-container .orbit-next {position: absolute;top: 50%;margin-top: -50px;background-color: rgba(200,200,200,.3);width: 50px;height: 100px;line-height: 50px;color: white;text-indent: -9999px !important;}
.orbit-container .orbit-prev > span, .orbit-container .orbit-next > span {position: absolute;top: 50%;margin-top: -16px;display: block;width: 0;height: 0;border: solid 16px;opacity: .7;}
.orbit-container .orbit-prev:hover > span, .orbit-container .orbit-next:hover > span {opacity: .95;}
.orbit-container .orbit-prev {left: 0;-moz-border-radius: 0 10px 10px 0;-webkit-border-radius: 0 10px 10px 0;border-radius: 0 10px 10px 0;-moz-box-shadow: 1px 0 5px rgba(0,0,0,.6);box-shadow: 1px 0 5px rgba(0,0,0,.6);}
.orbit-container .orbit-prev > span {border-color: transparent white transparent transparent;}
.orbit-container .orbit-prev:hover > span {border-color: transparent #fff transparent transparent;}
.orbit-container .orbit-next {right: 0;-moz-border-radius: 10px 0 0 10px;-webkit-border-radius: 10px 0 0 10px;border-radius: 10px 0 0 10px;-moz-box-shadow: -1px 0 5px rgba(0,0,0,.6);box-shadow: -1px 0 5px rgba(0,0,0,.6);}
.orbit-container .orbit-next > span {border-color: transparent transparent transparent white;left: 50%;margin-left: -8px;}
.orbit-container .orbit-next:hover > span {border-color: transparent transparent transparent #fff;}
.orbit-bullets {margin: 0 auto;overflow: hidden;position: relative;text-align: center;top: 27px;z-index: 80;padding-left: 0 !important;padding-right: 0 !important;}
.orbit-bullets li {display: inline-block;width: 12px;height: 12px;background: none repeat scroll 0 0 transparent;margin-right: 6px;border: 2px solid #fff;-moz-border-radius: 1000px;-webkit-border-radius: 1000px;border-radius: 1000px;-moz-box-shadow: 0 0 3px rgba(0,0,0,.5);box-shadow: 0 0 3px rgba(0,0,0,.5);}
.orbit-bullets li.active {background: none repeat scroll 0 0 #fff;}
.orbit-bullets li:last-child {margin-right: 0;}
.touch .orbit-container .orbit-prev, .touch .orbit-container .orbit-next {display: none;}
@media only screen and (min-width: 48em) {.touch .orbit-container .orbit-prev, .touch .orbit-container .orbit-next {display: inherit;}}
[data-clearing] {margin-bottom: 0;}
[data-clearing]:before, [data-clearing]:after {content: " ";display: table;}
[data-clearing]:after {clear: both;}
.clearing-blackout {background: #383d94;position: fixed;width: 100%;height: 100%;top: 0;left: 0;z-index: 998;}
.clearing-container {position: relative;z-index: 998;height: 100%;overflow: hidden;margin: 0;}
.visible-img {height: 95%;position: relative;}
.visible-img img {position: absolute;left: 50%;top: 50%;margin-left: -50%;max-height: 100%;max-width: 100%;}
.clearing-caption {color: white;line-height: 1.3;margin-bottom: 0;text-align: center;bottom: 0;background: #383d94;width: 100%;padding: 10px 30px;position: absolute;left: 0;}
.clearing-close {z-index: 999;padding-left: 20px;padding-top: 10px;font-size: 40px;line-height: 1;color: white;display: none;}
@media only screen and (min-width: 48em) {.clearing-main-left, .clearing-main-right {position: absolute;height: 100%;width: 40px;top: 0;}
	.clearing-main-left {left: 0;}
	.clearing-main-right {right: 0;}
	.clearing-close {position: absolute;top: 10px;right: 20px;padding-left: 0;padding-top: 0;}}
table {background: white;margin-bottom: 1.25em;border: solid 1px #ddd;}
table thead, table tfoot {background: whitesmoke;font-weight: bold;}
table thead tr th, table thead tr td, table tfoot tr th, table tfoot tr td {padding: .5em .625em .625em;font-size: .875em;color: #222;text-align: left;}
table tr th, table tr td {padding: .5625em .625em;font-size: .875em;}
table tr.even, table tr.alt, table tr:nth-of-type(even) {background: #f9f9f9;}
table thead tr th, table tfoot tr th, table tbody tr td, table tr td, table tfoot tr td {display: table-cell;line-height: 1.125em;}
.column.first-in-row {padding-left: 0;}
.column.last-in-row {padding-right: 0;}
.top-bar .title-area .logo {display: block;-moz-background-size: 116px 50px;color: #fff;font-size: 45px;padding-top: 10px;padding-left: 10px;padding-bottom: 10px;margin-left: 5px;cursor: pointer;}
#top-bar-search-form {padding: 10px 5px 10px 10px;}
#top-bar-search-form #s {float: left;width: 60%;-moz-border-radius: 5px 0px 0px 5px;-webkit-border-radius: 5px 0px 0px 5px;border-radius: 5px 0px 0px 5px;-webkit-appearance: none;}
#top-bar-search-form #searchsubmit {float: left;width: 30%;-moz-border-radius: 0 5px 5px 0;-webkit-border-radius: 0 5px 5px 0;border-radius: 0 5px 5px 0;-webkit-appearance: none;}
header {position: relative;}
header .mood-image {height: 0;padding-bottom: 42.85%;overflow: hidden;background: #ccc;text-align: center;position: relative;}
header img {display: block;margin-left: auto;margin-right: auto;}
header .nordicmediasolutions_mediaplayer {}
.single .main-tag {padding-bottom: 0;}
.sidebar {background: #addb44;height: 100%;padding-top: .9375em;}
article header {margin-top: 20px;padding-left: 3%;padding-right: 3%;}
article .excerpt {font-size: 1.2em;line-height: 1.6em;}
article .content {font-size: 1.05em;line-height: 2em;}
.hentry .excerpt p {padding-left: 3%;padding-right: 3%;}
.hentry .content p, .hentry .content h3, .hentry .content h4, .hentry .content h5 {padding-left: 4%;padding-right: 4%;}
.content .widget_wysija {padding-left: 4%;padding-right: 4%;}
.wysija-input, .wysija-submit {-webkit-appearance: none;}
.hentry .content ul, .hentry .content ol {padding-left: 25px;padding-right: 4%;list-style-type: square;}
#about-author .column .description-wrapper {padding-left: 0;padding-right: 0;}
#about-author {background: #383d94;color: #fff;padding-bottom: .9375em;padding-left: 0;padding-right: 0;}
#about-author h1, #about-author h2, #about-author h3, #about-author h4, #about-author h5, #about-author h6, #about-author a {color: #fff;}
#about-author .avatar {float: left;margin: .7em 1.5em .5em 0;background: #ddd;height: 70px;overflow: hidden;width: 70px;-moz-border-radius: 100%;-webkit-border-radius: 100%;border-radius: 100%;}
#about-author .author-link {font-weight: bold;}
#about-author #author-sponsor-place img {display: block;margin: 0 auto;max-width: 300px;height: auto;width: 100%;}
.author-profile-on-the-web li {margin: 0 5px 5px 15px;}
.column.article-in-web {background: #008fd0;color: #fff;padding-bottom: .9375em;padding-left: 0;padding-right: 0;}
.article-in-web h3, .article-in-web a {color: #fff;}
.article-in-web li {list-style-type: none;margin: 0 25px 5px 0;}
.article-in-web a {font-size: 1.5em;white-space: nowrap;}
.article-in-web a:hover {color: #ccc;}
.post-extras {background: #cdd2dc;}
.image-extras {background: #cdd2dc;overflow: auto;}
.image-extras .image-extras-wrapper {padding-left: 0;padding-right: 0;}
#comments {background: #cdd2dc;padding-left: 0;padding-right: 0;}
#comments form {margin-bottom: 0;}
#comments .form-submit {margin-bottom: 0;padding-bottom: 1em;float: left;width: 100%;}
#comments .form-submit #submit {float: right;background: #383d94;border: none;-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;color: #fff;font-weight: bold;padding: .45em .9em;font-size: 1em;-webkit-appearance: none;}
#comments .form-submit #submit:hover {background: #008fd0;}
.column .comment-form-fields, .column .comment-form-comment, .column .form-submit {padding-left: 0;padding-right: 0;}
.column .comment-form-fields p {margin: 0;}
.column .comment-form-fields input {margin-bottom: 8px;}
.sidebar, .sidebar a, .sidebar h4, .sidebar h5, .sidebar h6 {color: #383d94;margin: 0;}
.sidebar a:hover {color: #2ba6cb;}
.sidebar .single-post-meta {border-bottom: 3px dashed;margin-bottom: 15px;padding-bottom: 10px;}
.sidebar .single-post-meta img {-moz-border-radius: 100%;-webkit-border-radius: 100%;border-radius: 100%;display: block;margin: 0 auto 10px;float: right;-moz-box-shadow: 1px 1px 5px #555;box-shadow: 1px 1px 5px #555;background: #ddd;height: 70px;overflow: hidden;width: 70px;}
.sidebar .single-post-meta p {font-size: .8em;margin-bottom: .1em;-moz-hyphens: none;hyphens: none;}
.sidebar .single-post-meta span {}
.sidebar .single-post-meta .theMeta {font-weight: bold;}
.sidebar .single-post-meta .metaContent {}
footer.footer {background: #008fd0;}
footer.footer, footer.footer h5, footer.footer h6, footer.footer a {color: #fff;}
footer.footer a:hover {color: #ddd;}
.sidebar ul, .sidebar ol, footer ul, footer ol {padding-left: 1.25em;}
footer ul li ul, footer ul li ol, footer ol li ol, footer ol li ul {padding-left: 0;}
.site-overview {background: #008fd0;}
.site-overview h5 {font-size: 1.5em;}
.site-overview h6 {font-size: 1.2em;margin-bottom: 0;}
.footer-main {padding-left: 0 !important;padding-right: 0 !important;}
.footer-sidebar {background: #383d94;}
.footer-about {}
.footer-about p {font-size: .9em;line-height: 1.8em;}
.home h2 {margin: .2em .468em 0;}
.categorie-info.column {background: #383d94;color: #fff;padding: 0 0 .3em;}
.categorie-info h1, .categorie-info h2, .categorie-info h4, .categorie-info a {color: #fff;}
.categorie-info h4 {margin-top: .468em;}
.categorie-info p {margin-bottom: 1em;font-size: 1em;line-height: 1.5em;}
.sub-category_list {margin-bottom: .468em;overflow: auto;}
.sub-category_list li {margin-left: 1em;}
.sub-category_list a {display: block;padding: 2px 0;}
.back-to-parent-cat {padding: .9375em;text-align: right;}
.blog .main-col, .search .main-col, .archive .main-col {padding-left: 0;padding-right: 0;}
.column.post-list {padding: .468em 0 0;}
.post-list .item {padding: .468em 0;}
.post-list .item:last-child {float: left;}
.post-list .content {background: #addb44;position: relative;overflow: hidden;}
.post-list .content:after {clear: both;content: " ";display: table;}
.post-list .item .wp-post-image {width: 100%;display: block;}
.post-list .post-thumbnail {background: #ccc;height: 0;overflow: hidden;padding-bottom: 42.85%;}
.post-list .post-thumbnail a {display: block;}
.post-list .item .post-meta {padding-right: 60px;}
.post-list .item .post-meta .avatar {-moz-border-radius: 100%;-webkit-border-radius: 100%;border-radius: 100%;display: inline;position: absolute;right: 5px;width: 50px;height: 50px;overflow: hidden;background: none repeat scroll 0 0 #ddd;}
.post-list .item.has-thumbnail .post-meta .avatar {top: -30px;}
.post-list .item.no-thumbnail .post-meta .avatar {top: 5px;}
.post-list .item .post-meta .edit-link {display: none;}
.post-list .item .post-meta p {font-size: .7em;font-weight: bold;margin: 0;display: inline;color: #999;line-height: 1;}
.post-list .no-thumbnail .post-headline {padding-right: 70px;}
.post-list .post-action {text-align: right;}
.post-list .post-action a {font-weight: bold;padding: .9375em 0;display: block;}
.post-list .cloud-in-list {text-align: center;}
.post-list .recent-post-list ul {margin-left: 1em;}
.post-list .recent-post-list li {list-style-type: square;}
.post-list .item.sidebar {background: transparent;height: auto;}
.more-post li {font-family: Amaranth,sans-serif;font-size: 16px;list-style-type: square;padding: 2% 4% 0 0;margin: 0 0 0 6%;}
.more-post h3 {color: #383d94;margin: 0;padding: .468em .468em 0;}
.sozial-networks h3 {color: #383d94;font-size: 1.6em;text-align: center;margin: 0;padding: 0 .5em;}
.sozial-networks .sozial-network-list {display: block;margin: 0;overflow: auto;padding: 0;}
.sozial-networks .sozial-network-list-item {display: block;float: left;list-style-type: none;width: 40%;margin: 1.5em 5%;}
.sozial-networks .sozial-network-list-item a {display: block;text-align: center;}
.sozial-networks .sozial-network-list-item a span {display: block;text-align: center;}
.sozial-networks .sozial-network-list-item .icon {font-size: 5em;}
.sozial-networks .sozial-network-list-item a .label {font-weight: bold;color: #fff;}
.column.paging-navigation {text-align: center;display: table;padding: 0 0 .468em;}
.paging-navigation .page-numbers {background: none repeat scroll 0 0 #cdd2dc;padding: 10px 15px;border: 0 5px solid;font-weight: bold;letter-spacing: 2px;display: table-cell;margin: 0 .468em;}
.paging-navigation .current {background: none repeat scroll 0 0 #addb44;color: #fff;}
.paging-navigation .separator {background: #fff;padding: 0;width: 5px;}
.paging-navigation .prev, .paging-navigation .next {display: none;}
.alignleft {display: inline;float: left;margin-right: 1.5em;}
.alignright {display: inline;float: right;margin-left: 1.5em;}
.aligncenter {clear: both;display: block;margin: 0 auto;}
.sticky {}
.hentry {margin: 0 0 1.5em;}
.byline {display: none;}
.single .byline, .group-blog .byline {display: inline;}
.entry-content, .entry-summary {margin: 1.5em 0 0;}
.page-links {clear: both;margin: 0 0 1.5em;}
.social-counter .social-counter-item {text-align: center;margin-bottom: .9375em;}
.social-counter .social-counter-item:last-child {float: left;}
.social-counter .counter-bubble {background: none repeat scroll 0 0 #efefef;-moz-border-radius: 5px 5px 0 0;-webkit-border-radius: 5px 5px 0 0;border-radius: 5px 5px 0 0;color: #444;font-weight: bold;padding: .5em .2em;}
.social-counter .counter-button {background: #383d94;-moz-border-radius: 0 0 5px 5px;-webkit-border-radius: 0 0 5px 5px;border-radius: 0 0 5px 5px;display: block;font-size: 1.3em;padding: .2em;overflow: auto;}
.social-counter .counter-button .icon {float: left;}
.social-counter .counter-button .icon:before {font-size: .9em;}
.social-counter .counter-button .text-label {font-weight: bold;}
.social-counter .counter-button.counter-thumb {width: 50%;float: left;}
.social-counter .counter-button.counter-thumb.thumbs-up {-moz-border-radius: 0 0 0 5px;-webkit-border-radius: 0 0 0 5px;border-radius: 0 0 0 5px;}
.social-counter .counter-button.counter-thumb.thumbs-down {-moz-border-radius: 0 0 5px 0;-webkit-border-radius: 0 0 5px 0;border-radius: 0 0 5px 0;border-left: 1px solid #cdd2dc;}
.social-counter .counter-button.counter-thumb .icon {float: none;}
.site-header img, .entry-content img, .comment-content img, .widget img {max-width: 100%;}
.site-header img, .entry-content img, .comment-content img[height], img[class*="align"], img[class*="wp-image-"] {height: auto;}
.site-header img, .entry-content img, img.size-full {max-width: 100%;width: auto;}
.entry-content img.wp-smiley, .comment-content img.wp-smiley {border: none;margin-bottom: 0;margin-top: 0;padding: 0;}
.image-info-link {position: absolute;right: 0;color: #fff;opacity: .5;text-shadow: 1px 0 2px #333;padding: 5px 10px;font-size: 1em;z-index: 90;}
.image-info-link:hover {opacity: 1;color: #fff;}
.wp-caption {margin-bottom: 1.5em;max-width: 100%;text-align: center;background: #eee;font-size: .75em;font-style: italic;}
.wp-caption-text {text-align: center;}
.wp-caption .wp-caption-text {margin: .8075em 0;padding: 0;}
.post-image {background: #eee;position: relative;}
.post-image img {max-width: 100%;margin-right: auto;margin-left: auto;display: block;}
.post-image.full-size {display: block;}
.full-size.align-none {float: none;}
.full-size.align-left {float: none;}
.full-size.align-right {float: none;}
.full-size.align-center {float: none;margin-left: auto;margin-right: auto;}
.post-image.full-size img {width: auto;}
.post-image.thumbnail-size img {width: 100%;}
.post-image.medium-size img {width: auto;max-width: 100%;}
.post-image.large-size img {width: auto;max-width: 100%;}
.gallery-image {min-height: 253px;}
.site-content .gallery {margin-bottom: 1.5em;}
.gallery-caption {}
.site-content .gallery a img {border: none;height: auto;max-width: 90%;}
.site-content .gallery dd {margin: 0;}
.site-content .gallery-columns-4 .gallery-item {}
.site-content .gallery-columns-4 .gallery-item img {}
embed, iframe, object {max-width: 100%;}
.ping-list {margin: 0 5%;}
.ping-list li {margin-left: 20px;}
.comment-list {display: block;}
.comment-list .children {display: block;margin-left: 10%;}
.comment-content a {word-wrap: break-word;}
.bypostauthor {}
.comments-title {padding-left: 5%;margin-bottom: .45em;margin-top: .9em;}
.comment {padding-bottom: 2em;position: relative;font-size: .9em;list-style-type: none;}
.comment-author-avatar {text-align: right;padding-left: 0 !important;}
.comment-author-avatar img {-moz-border-radius: 100%;-webkit-border-radius: 100%;border-radius: 100%;-moz-box-shadow: 1px 1px 5px #aaa;box-shadow: 1px 1px 5px #aaa;}
.comment-wrapper {float: left !important;}
.comment-triangel {border: 5px solid #eee;font-size: 0;line-height: 0;height: 0;padding: 0;margin: 0;border-top-color: transparent;border-bottom-color: transparent;border-left-color: transparent;left: -14px;position: absolute;top: 16px;border-right: 16px solid #eee;border-width: 16px;}
.comment-content {background: #eee;-moz-border-radius: 10px;-webkit-border-radius: 10px;border-radius: 10px;margin-bottom: .45em;padding: .9em;-moz-box-shadow: 1px 1px 5px #aaa;box-shadow: 1px 1px 5px #aaa;}
.comment-content p {margin-bottom: .45em;}
.comment-meta {color: #555;}
#comments textarea {height: auto;resize: none;}
#respond label {font-weight: bold;line-height: 2em;margin-bottom: 0;}
.related-posts {border-top: 3px dashed #383d94;margin-top: .5em;padding-top: .9375em;}
.related-posts .related-posts-list {padding: 0;display: block;overflow: auto;}
.related-posts .related-posts-list-item {list-style-type: none;}
.related-posts .related-posts-list-item .wp-post-image {width: 100%;display: block;}
.related-posts .post-thumbnail {height: 0;padding-bottom: 42.85%;background: #ccc;overflow: hidden;}
.related-posts .post-thumbnail a {display: block;}
.related-posts .related-posts-list-item .post-meta {padding-right: 60px;padding-left: .468em;}
.related-posts .related-posts-list-item .post-meta .avatar {-moz-border-radius: 100%;-webkit-border-radius: 100%;border-radius: 100%;display: inline;position: absolute;right: 5px;top: -30px;background: #ddd;height: 50px;overflow: hidden;width: 50px;}
.related-posts .related-posts-list-item .post-meta .edit-link {display: none;}
.related-posts .related-posts-list-item .post-meta p {font-size: .7em;font-weight: bold;margin: 0;display: inline;color: #999;}
.related-posts .post-headline {padding: 0 .468em;}
.related-posts .post-headline a {}
.related-posts .post-action {text-align: right;padding: 0 .468em;}
.related-posts .post-action a {font-weight: bold;padding: .9375em 0;display: block;}
.widget {margin: 0;border-top: 3px dashed #383d94;padding: 18px 12px;overflow: auto;}
.post-list .widget {padding-top: 0;}
.widget:first-child {border-top: 0;}
.widget .widgettitle {font-size: 1.6em;}
.widget select {max-width: 100%;}
.widget_search .submit {display: none;}
.widget_volldernorden_geolocation_widget {overflow: hidden;font-size: 90%;}
.widget_volldernorden_geolocation_widget .icon-location {font-size: 5em;color: #efefef;display: block;margin-top: 5px;padding-top: 5px;}
.widget_volldernorden_geolocation_widget .linkToMap {float: right;font-weight: bold;}
.WeInSozialNetworksWidget {padding-left: 0;padding-right: 0;}
.widget_nordicmediasolutions_blogrollwidget {border-top: 3px dashed;padding: 1.25em 0;}
.widget_nordicmediasolutions_blogrollwidget .widgettitle {display: inline;font-size: 1.2em;font-weight: bold;margin: 0;padding: 0;}
.widget_nordicmediasolutions_blogrollwidget .blogroll-item-title {font-size: 1.6em;}
.widget_nordicmediasolutions_blogrollwidget .blogroll-item-link {float: right;font-weight: bold;clear: both;text-align: right;}
.post-list .content .widget_wysija {padding-left: .9375em;padding-right: .9375em;}
.post-list .content .widget_wysija form {padding-left: 0;padding-right: 0;}
.post-list .widget_wysija .widgettitle {margin-top: 18px;}
.widget_wysija {overflow: auto;margin: 0;}
.widget_wysija_cont {margin: 16px 0 0;}
.wysija-paragraph {margin-bottom: 0;}
.widget_wysija_cont p label {color: #fff;}
.widget_wysija .wysija-submit {background: #383d94;border: 0;-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;color: #fff;float: right;margin: 0;padding: 12px;text-transform: uppercase;font-weight: bold;letter-spacing: 2px;}
.widget_wysija_cont .updated, .widget_wysija_cont .login .message {background: transparent;border: none;color: #fff;font-size: 1em;}
.content .widget_wysija_cont .wysija-paragraph {padding-left: 0;padding-right: 0;}
.content .widget_wysija_cont .wysija-paragraph label {color: #444;}
.wysija-after-comment {float: right;}
.wysija-after-comment label {margin-left: 25px;}
.wysija-after-comment input {margin-left: -25px;}
.infinite-scroll .navigation-paging, .infinite-scroll.neverending .site-footer {display: none;}
.infinity-end.neverending .site-footer {display: block;}
.sponsor-place {min-height: 25px;}
.column.sponsor-place {background: #fff;}
.sponsor-place .indication {color: #ccc;display: block;font-size: .7em;text-align: right;margin-right: 5px;line-height: 1;}
.sponsor-place-area {border: 1px solid #ddd;margin: 3px 0 5px 0;min-height: 5px;overflow: hidden;text-align: center;color: #383d94;}
.sponsor-place-area.amazon {margin: 0;overflow: hidden;background: #fff;text-align: center;}
.sponsor-place-area.amazon iframe {margin: 0 auto;}
.sponsor-place-area img {display: block;margin: 0 auto;}
.post-list .sponsor-place .indication, .sidebar .sponsor-place {margin-bottom: .5em;color: #fff;line-height: 1;}
.sidebar .sponsor-place {margin-bottom: 1.5em;}
.sidebar .sponsor-place .indication {color: #fff;margin-right: 0;}
.post-list .sponsor-place-area, .sidebar .sponsor-place-area {border-color: #fff;margin: 3px 0 5px;}
footer.footer .sponsor-place {background: #efefef;padding: 5px;}
footer.footer .sponsor-place-area {min-height: 120px;}
.post-list .sponsor-place {padding: .468em;}
.post-list .sponsor-place-area {height: 95%;}
#vdn-werbepartner-suche {color: #383d94;}
#vdn-werbepartner-suche h4 {color: #383d94;font-size: 1.4em;text-align: center;margin-top: 2em;}
#vdn-werbepartner-suche .button {color: #fff;}
.nordicmediasolutions_mediaplayer .podlovewebplayer_wrapper {background: none no-repeat 0 0 #383d94;-moz-border-radius: 0;-webkit-border-radius: 0;border-radius: 0;}
.nordicmediasolutions_mediaplayer .podlovewebplayer_wrapper .podlovewebplayer_top, .nordicmediasolutions_mediaplayer .podlovewebplayer_wrapper .podlovewebplayer_meta, .nordicmediasolutions_mediaplayer .podlovewebplayer_wrapper .podlovewebplayer_tableend, .nordicmediasolutions_mediaplayer .mejs-container, .nordicmediasolutions_mediaplayer .mejs-container .mejs-controls {background: none no-repeat 0 0 transparent;-moz-border-radius: 0;-webkit-border-radius: 0;border-radius: 0;-moz-box-shadow: none;box-shadow: none;}
.nordicmediasolutions_mediaplayer .podlovewebplayer_meta .bigplay {font-size: 35px;height: 59px;padding-left: 14px;padding-top: 1px;width: 59px;}
.nordicmediasolutions_mediaplayer .podlovewebplayer_meta .bigplay.playing {padding-left: 11px;padding-top: 1px;}
.nordicmediasolutions_mediaplayer .podlovewebplayer_wrapper .podlovewebplayer_top, .nordicmediasolutions_mediaplayer .podlovewebplayer_wrapper .podlovewebplayer_meta {min-height: 85px;}
.nordicmediasolutions_mediaplayer .podlovewebplayer_meta .subtitle {margin-left: 90px;display: none;}
.nordicmediasolutions_mediaplayer .podlovewebplayer_meta h3 {padding: 12px 20px 0 100px;line-height: 27px;}
.nordicmediasolutions_mediaplayer .podlovewebplayer_meta h3, .nordicmediasolutions_mediaplayer .podlovewebplayer_meta h3 a {font-size: 18px;letter-spacing: 1px;}
.nordicmediasolutions_mediaplayer .podlovewebplayer_meta h3 a:focus, .nordicmediasolutions_mediaplayer .podlovewebplayer_meta h3 a:hover, .nordicmediasolutions_mediaplayer .podlovewebplayer_meta h3 a:active {color: #fff !important;cursor: default;}
@media only screen and ( min-width: 48em ) {.top-bar .top-bar-search-form {width: 200px;}
	.top-bar .menu-item-search .text-label {display: none;}
	header .nordicmediasolutions_mediaplayer {bottom: 25px;position: absolute;left: 12%;width: 75%;}
	.nordicmediasolutions_mediaplayer .podlovewebplayer_wrapper {background: none no-repeat 0 0 rgba(0,0,0,.3);-moz-border-radius: 3px;-webkit-border-radius: 3px;border-radius: 3px;}
	.nordicmediasolutions_mediaplayer .podlovewebplayer_meta h3 {padding: 12px 20px 0 100px;line-height: 36px;}
	.nordicmediasolutions_mediaplayer .podlovewebplayer_meta h3, .nordicmediasolutions_mediaplayer .podlovewebplayer_meta h3 a {font-size: 24px;}
	.nordicmediasolutions_mediaplayer .podlovewebplayer_wrapper .mejs-container .mejs-inner .mejs-controls .mejs-time-rail .mejs-time-total .mejs-time-loaded {background: #383d94;}
	.nordicmediasolutions_mediaplayer .podlovewebplayer_meta .bigplay:focus, .nordicmediasolutions_mediaplayer .podlovewebplayer_meta .bigplay:hover, .nordicmediasolutions_mediaplayer .podlovewebplayer_meta .bigplay:active, .nordicmediasolutions_mediaplayer .podlovewebplayer_meta .bigplay.playing:focus, .nordicmediasolutions_mediaplayer .podlovewebplayer_meta .bigplay.playing:hover, .nordicmediasolutions_mediaplayer .podlovewebplayer_meta .bigplay.playing:active {-webkit-text-shadow: 0px 0px 10px #383d94;-moz-text-shadow: 0px 0px 10px #383d94;-o-text-shadow: 0px 0px 10px #383d94;text-shadow: 0px 0px 10px #383d94;}
	article .content {font-size: 1.05em;line-height: 2em;}
	.sidebar .single-post-meta {margin-top: -50px;}
	.sidebar .single-post-meta.no-avatar {margin-top: 0;}
	.sidebar .single-post-meta img {display: block;margin: 0 auto 10px;float: none;}
	.sidebar .single-post-meta p {display: table-row;}
	.sidebar .single-post-meta span {display: table-cell;}
	.sidebar .single-post-meta .theMeta {padding-right: 10px;white-space: nowrap;}
	.all-cat > ul {-moz-column-count: 1;-webkit-column-count: 1;column-count: 1;}
	.column.post-list {overflow: auto;padding: .468em;}
	.post-list .content {height: 400px;}
	.post-list .item {padding: .468em .468em;}
	.post-list .item .post-meta {text-align: right;padding-right: 60px;}
	.post-list .item .post-meta p {display: inline;margin-left: 10px;}
	.post-list .item .post-meta p.author-name {margin-left: 0;}
	.post-list .post-action {bottom: .9375em;position: absolute;}
	.post-list .post-action a {padding-bottom: 0;}
	.post-image.full-size img {width: auto;}
	.post-image.thumbnail-size img {width: auto;max-width: 75%;}
	.post-image.medium-size img {width: auto;max-width: 100%;}
	.post-image.full-size {display: inline;}
	.full-size.align-none {float: none;}
	.full-size.align-left {float: left;margin-bottom: .45em;margin-right: .9em;margin-top: .45em;}
	.full-size.align-right {float: right;margin-bottom: .45em;margin-left: .9em;margin-top: .45em;}
	.full-size.align-center {float: none;margin-left: auto;margin-right: auto;}
	#author-sponsor-place {padding-top: .9375em;padding-left: 0;}
	.author-profile-on-the-web li {float: left;margin: 0 30px 5px 15px;}
	.sub-category_list {-moz-column-count: 2;-webkit-column-count: 2;column-count: 2;}
	.sub-category_list li {margin-left: 1em;}
	.column.paging-navigation {padding: 0 .468em .9375em;}}
@media only screen and ( min-width: 64em ) {article header {padding-left: 3%;padding-right: 3%;}
	header .nordicmediasolutions_mediaplayer {bottom: 25px;position: absolute;left: 25%;width: 50%;}
	.hentry .excerpt p {padding-left: 3%;padding-right: 3%;font-size: 1.3em;line-height: 1.5em;}
	.hentry .content p {font-size: 1.1em;line-height: 1.8em;}
	.hentry .content p, .hentry .content h3, .hentry .content h4, .hentry .content h5, .hentry .content ul, .hentry .content ol {padding-left: 15%;padding-right: 5%;}
	.hentry .content ul, .hentry .content ol {padding-left: 17%;padding-right: 5%;}
	.content .widget_wysija {padding-left: 15%;padding-right: 5%;}
	#about-author .column .description-wrapper {padding-left: 10%;padding-right: 5%;}
	.sub-category_list {-moz-column-count: 3;-webkit-column-count: 3;column-count: 3;}
	.sub-category_list li {margin-left: 1em;}
	.all-cat > ul {-moz-column-count: 2;-webkit-column-count: 2;column-count: 2;}
	.article-in-web li {float: left;}
	.image-in-web li {float: none;}
	.post-image.full-size img {width: auto;}
	.post-image.thumbnail-size img {width: auto;max-width: 75%;}
	.post-image.medium-size img {width: auto;max-width: 100%;}
	footer.footer .sponsor-place-area {min-height: 60px;}
	.column.paging-navigation {padding: 0 .9375em .9375em;}
	.paging-navigation .next, .paging-navigation .prev {display: table-cell;}
	.column .comment-form-fields, .column .comment-form-comment, .column .form-submit {padding-left: .9375em;padding-right: .9375em;}
	.column .comment-form-fields {padding-left: 0;}
	.comment-notes {padding-left: .9375em;padding-right: .9375em;}
	.wysija-after-comment {width: 66.6667%;padding-left: .9375em;padding-right: .9375em;}}
@media only screen and ( min-width: 80em ) {article header {padding-left: 5%;padding-right: 7%;}
	.hentry .excerpt p {padding-left: 5%;padding-right: 7%;}
	.hentry .content p, .hentry .content h3, .hentry .content h4, .hentry .content h5, .hentry .content ul, .hentry .content ol {padding-left: 25%;padding-right: 15%;}
	.hentry .content ul, .hentry .content ol {padding-left: 27%;padding-right: 15%;}
	.content .widget_wysija {padding-left: 25%;padding-right: 15%;}
	#about-author .column .description-wrapper {padding-left: 15%;padding-right: 15%;}
	.all-cat > ul {-moz-column-count: 3;-webkit-column-count: 3;column-count: 3;}
	.post-list .item .post-meta {padding-right: 70px;}
	.post-list .item .post-meta .edit-link {display: inline;margin-right: 5px;}
	.post-list .item .post-meta .avatar {right: 10px;}
	.post-image.full-size img {width: auto;}
	.post-image.thumbnail-size img {width: 50%;}
	.post-image.medium-size img {width: auto;max-width: 75%;}
	#author-sponsor-place .sponsor-place-area {display: inline;float: right;}}