@font-face {font-family: "icomoon";src: url("../fonts/icomoon.eot");src: url("../fonts/icomoon.eot?#iefix") format("embedded-opentype"),url("../fonts/icomoon.woff") format("woff"),url("../fonts/icomoon.ttf") format("truetype"),url("../fonts/icomoon.svg#icomoon") format("svg");font-weight: normal;font-style: normal;}
[data-icon]:before {font-family: "icomoon";content: attr(data-icon);speak: none;font-weight: normal;font-variant: normal;text-transform: none;line-height: 1;-webkit-font-smoothing: antialiased;}
.icon-undo, .icon-newspaper, .icon-quill, .icon-image, .icon-images, .icon-headphones, .icon-film, .icon-books, .icon-profile, .icon-support, .icon-location, .icon-compass, .icon-map, .icon-clock, .icon-user, .icon-zoom-out, .icon-zoom-in, .icon-search, .icon-cog, .icon-leaf, .icon-list, .icon-menu, .icon-cloud, .icon-link, .icon-flag, .icon-attachment, .icon-thumbs-up, .icon-thumbs-up-2, .icon-heart, .icon-star, .icon-star-2, .icon-star-3, .icon-bookmark, .icon-info, .icon-cancel-circle, .icon-checkmark-circle, .icon-close, .icon-checkmark, .icon-play, .icon-pause, .icon-stop, .icon-forward, .icon-backward, .icon-arrow-right, .icon-facebook, .icon-google-plus, .icon-twitter, .icon-feed, .icon-vimeo, .icon-flickr, .icon-wordpress, .icon-pinterest, .icon-paypal, .icon-Logo, .icon-home, .icon-tag, .icon-envelop, .icon-xing {font-family: "icomoon";speak: none;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;line-height: 1;-webkit-font-smoothing: antialiased;}
.icon-undo:before {content: "";}
.icon-newspaper:before {content: "";}
.icon-quill:before {content: "";}
.icon-image:before {content: "";}
.icon-images:before {content: "";}
.icon-headphones:before {content: "";}
.icon-film:before {content: "";}
.icon-books:before {content: "";}
.icon-profile:before {content: "";}
.icon-support:before {content: "";}
.icon-location:before {content: "";}
.icon-compass:before {content: "";}
.icon-map:before {content: "";}
.icon-clock:before {content: "";}
.icon-user:before {content: "";}
.icon-zoom-out:before {content: "";}
.icon-zoom-in:before {content: "";}
.icon-search:before {content: "";}
.icon-cog:before {content: "";}
.icon-leaf:before {content: "";}
.icon-list:before {content: "";}
.icon-menu:before {content: "";}
.icon-cloud:before {content: "";}
.icon-link:before {content: "";}
.icon-flag:before {content: "";}
.icon-attachment:before {content: "";}
.icon-thumbs-up:before {content: "";}
.icon-thumbs-up-2:before {content: "";}
.icon-heart:before {content: "";}
.icon-star:before {content: "";}
.icon-star-2:before {content: "";}
.icon-star-3:before {content: "";}
.icon-bookmark:before {content: "";}
.icon-info:before {content: "";}
.icon-cancel-circle:before {content: "";}
.icon-checkmark-circle:before {content: "";}
.icon-close:before {content: "";}
.icon-checkmark:before {content: "";}
.icon-play:before {content: "";}
.icon-pause:before {content: "";}
.icon-stop:before {content: "";}
.icon-forward:before {content: "";}
.icon-backward:before {content: "";}
.icon-arrow-right:before {content: "";}
.icon-facebook:before {content: "";}
.icon-google-plus:before {content: "";}
.icon-twitter:before {content: "";}
.icon-feed:before {content: "";}
.icon-vimeo:before {content: "";}
.icon-flickr:before {content: "";}
.icon-wordpress:before {content: "";}
.icon-pinterest:before {content: "";}
.icon-paypal:before {content: "";}
.icon-Logo:before {content: "";}
.icon-home:before {content: "";}
.icon-tag:before {content: "";}
.icon-envelop:before {content: "";}
.icon-xing:before {content: "";}